* {
  box-sizing: border-box;
}
body {
  padding: 0px;
  margin: 0px;
}

.navbar_container {
  position: sticky;
  top: 0px;
  z-index: 200;
  background-color: white;
  padding-bottom: 10px;
}

#navbar {
  width: 65%;
  margin: auto;
}

.navbar-row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-row-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.head_middle {
  display: flex;
  flex: 1;
  align-items: center;
}

.head_middle-input {
  height: 40px;
  width: 100%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #f0f1f4;
  border: none;
  outline: none;
  padding: 0 12px;
}
.head_middle-btn {
  background-color: #0069ff;
  height: 42px;
  width: 54px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border: none;
}

.head_right {
  margin-left: 24px;
  display: flex;
}

.head_right-image {
  width: 32px;
}

.fa-magnifying-glass::before {
  font-size: 24px;
}

.wrap_nav-menu-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.wrap_nav-item {
  margin-left: 32px;
}

.wrap_nav-item a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

#burger_menu_title_wrapper {
  border-radius: 5px;
  padding: 8px 16px;
  background-color: #0069ff;
}
.fa-bars {
  font-size: 18px;
  color: white;
}
.burger_menu-title {
  font-size: 16px;
  color: white;
  margin-left: 8px;
}
.nav-dropdown {
  display: none;
  padding: 0 20px 0 30px;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  top: 114px;
  z-index: 10;
}
.nav-dropdown a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  border-bottom: 1px solid #f5f5f5;
  padding: 8px 0;
}
.nav-dropdown:hover {
  display: block;
}

.item_1_submenu {
  display: none;
}

#burger_menu_title_wrapper:hover ~ .nav-dropdown {
  display: block;
}

.nav-dropdown:hover {
  display: block;
}

.nav-dropdown a:hover {
  color: red;
}

.nav-dropdown:hover ~ .item_1_submenu {
  display: block;
  position: absolute;
}

#slide_window {
  position: relative;
  max-width: 100%;
  margin-top: 26px;
}

#slide_window img {
  max-width: 100%;
}

.slide_window_content {
  position: absolute;
  color: white;
  width: 55%;
  z-index: 10;
  left: 50%;
  top: 50%;
  translate: -186px -200px;
}
.slide_window_content h1 {
  font-size: 48px;
}
.slide_window_content h4 {
  font-size: 22px;
}
.slide_window_content button {
  padding: 4px;
  padding-right: 24px;
  padding-left: 24px;
  background-color: #ff820a;
  color: #ffffff;
  border-color: #ff820a;
  border-radius: 20px;
  font-size: 22px;
  text-align: center;
}
.fearture_product_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    "feature1 feature1 feature2 feature2"
    "feature1 feature1 feature3 feature4 ";
}
.feature_1 {
  grid-area: feature1;
}

.feature_1 img {
  width: 100%;
}

.feature_2 {
  grid-area: feature2;
}
.feature_2 img {
  width: 100%;
}
.feature_3 {
  grid-area: feature3;
}

.feature_3 img {
  width: 100%;
}
.feature_4 {
  grid-area: feature4;
}
.feature_4 img {
  width: 100%;
}
#feature_product {
  width: 65%;
  margin: auto;
}
.feature_product_title {
  font-size: 36px;
}

.cellphone_container {
  width: 65%;
  margin: auto;
}

.cellphone_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #f5f5f5;
  gap: 10px 10px;
}
.cellphone_items > div {
  background-color: #ffffff;
}
#cellphone_card img {
  width: 100%;
}
.cell_phone_heading {
  font-size: 36px;
}
#newsletter_conatiner {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}
.newsletter_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.newsletter_heading h1 {
  font-size: 40px;
  font-weight: 550;
}
.newsletter_heading h4 {
  font-size: 16px;
  margin-left: 36px;
}
#newsletter_input {
  display: flex;
  align-items: center;
}
#newsletter {
  height: 40px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #f0f1f4;
  border: none;
}
#newsletter_button {
  background-color: #0069ff;
  height: 42px;

  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border: none;
}
.fa-arrow-right {
  font-size: 22px;
}
#newsletter::placeholder {
  text-align: center;
}
#footer_bottom_container {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  background-color: #6c6f72;
  flex-wrap: wrap;
}
#footer_bottom_container > div {
  margin-right: 10px;
  padding-top: 30px;
}

.hidden {
  display: none;
}
.signin_container {
  display: none;
}
.information > div {
  padding-top: 10px;
}
.services > div {
  padding-top: 10px;
}
.contact_us > div {
  padding-top: 10px;
}
.about_us > div {
  padding-top: 10px;
}
.news > div {
  padding-top: 10px;
}
.information > div:nth-child(1) {
  font-size: 24px;
  font-weight: 500;
}
.services > div:nth-child(1) {
  font-size: 24px;
  font-weight: 500;
}
.contact_us > div:nth-child(1) {
  font-size: 24px;
  font-weight: 500;
}
.about_us > div:nth-child(1) {
  font-size: 24px;
  font-weight: 500;
}
.news > div:nth-child(1) {
  font-size: 24px;
  font-weight: 500;
}
.news_view {
  padding: 10px;
  background-color: #0069ff;
  border: none;
}
.news_subscribe {
  padding: 10px;
  background-color: #0069ff;
  border: none;
}
.signin_wrapper {
  border: 1px solid black;
  width: 410px;
  height: 410px;
  background-color: #fff;
  border-radius: 5px;
  padding: 30px 30px;
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 100;
  transform: translateX(-224px);
}
.signin_wrapper p {
  font-size: 14px;
  color: #666;
  padding-bottom: 6px;
}
.new_customer {
  margin-left: 94px;
}
#new_customer_link {
  color: black;
  text-decoration: none;
}
#email_label {
  font-size: 14px;
  color: #333;
}
#password_label {
  font-size: 14px;
  color: #333;
}
#email {
  height: 44px;
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 0 10px;
}
#password {
  height: 44px;
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 0 10px;
}
#sign_in {
  height: 50px;
  width: 100%;
  color: #fff;
  border-radius: 5px;
  margin-top: 14px;
  font-size: 18px;
  background-color: black;
}
.backdrop {
  width: 100vw;
  height: 100vh;
  z-index: 99;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
}
.signIn_close_button_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signIn_close_button_container button {
  width: 26px;
  height: 30px;
  border: 1px solid black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #navbar {
    width: 100%;
    margin: 8px;
  }

  /* #footer_bottom_container {
    flex-direction: column;
  } */

  #newsletter_conatiner {
    flex-direction: column;
  }

  .newsletter_heading {
    flex-direction: column;
  }
  .cellphone_items {
    grid-template-columns: 1fr;
  }
}

/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #navbar {
    width: 100%;
    margin: 8px;
  }

  /* #footer_bottom_container {
    flex-direction: column;
    align-items: center;
  } */

  #newsletter_conatiner {
    flex-direction: column;
  }
  .newsletter_heading {
    flex-direction: column;
  }

  #feature_product {
    width: 100%;
    margin: 8px;
  }

  .cellphone_container {
    width: 100%;
    margin: 8px;
  }
  .cellphone_items {
    grid-template-columns: 1fr;
  }
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  #navbar {
    width: 100%;
    margin: 8px;
  }
  /* #footer_bottom_container {
    flex-direction: column;
    align-items: center;
  } */

  #newsletter_conatiner {
    flex-direction: column;
  }

  .newsletter_heading {
    flex-direction: column;
  }

  #feature_product {
    width: 100%;
    margin: 8px;
  }

  .cellphone_container {
    width: 100%;
    margin: 8px;
  }
  .cellphone_items {
    grid-template-columns: 1fr 1fr;
  }
}

/* Large devices (laptops/desktops, 1024px and down) */
@media only screen and (max-width: 1024px) {
  #navbar {
    width: 100%;
    margin: 8px;
  }
  /* #footer_bottom_container {
    flex-direction: column;
    align-items: center;
  } */

  #newsletter_conatiner {
    flex-direction: column;
  }
  .newsletter_heading {
    flex-direction: column;
  }

  #feature_product {
    width: 100%;
    margin: 8px;
  }

  .cellphone_container {
    width: 100%;
    margin: 8px;
  }
}
